#toolbarContainer {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    top: 0px;
    left: 0px;
    height: 36px;
    right: 0px;
    background-image: url('../assets/image/toolbar_bg.gif');
}

.sidebarContainer {
    position: absolute;
    top: 36px;
    left: 0;
    bottom: 36px;
    width: 200px;
    padding: 10px;
    .header {
        i:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
    .body {

    }
}

#graphContainer {
    position: absolute;
    overflow: hidden;
    top: 36px;
    left: 200px;
    bottom: 36px;
    right: 0px;
    background-image: url('../assets/image/grid.gif');
    cursor: default;
}

#outlineContainer {
    position: absolute;
    overflow: hidden;
    top: 36px;
    right: 0px;
    width: 200px;
    height: 140px;
    background: transparent;
    border: 2px solid black;
}
